body {
  margin: 50px;
  background-color: rgb(225, 215, 180);
}

div.splash {
  text-align: center;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}