body {
  margin: 10%;
  margin-top: 150px;
  background-color: rgb(225, 215, 180);
}

div.splash {
  text-align: center;
}

div#footer {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:#28789d;
  padding:8px;
}

div#logo{
  position:fixed;
  bottom: 50px;
  left: 30%;
  display: block;
}

img.logo{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

a:link{
  color: #28789d;
}

a:active{
  color:green;
}

a.hover{
  color: #1a4e67;
}

a.visited{
  color:#28789d;
}

a.footer:link {
  color: #e1d7b4;
}

a.footer:hover {
  color: #ceaa28;
}

a.footer:visited {
  color: #e1d7b4;
}

a.footer:active {
  color: green;
}