<div id="footer">
  <h3><a class="footer" href='/'>Home</a></h3>
  <h3><a class="footer" href='/vendors'>View vendors</a></h3>
  <h3><a class="footer" href='/vendors/new'>Add a new vendor</a></h3>
</div>